[core]
        editor = emacs
[credential]
        helper = osxkeychain
[diff]
        algorithm = histogram
[difftool]
        prompt = false
[merge]
        tool = emerge
        conflictstyle = diff3
[mergetool]
        prompt = false
        keepBackup = false
[pull]
        rebase = true
[push]
        default = current
[rerere]
        enabled = true
[url "ssh://git@heroku.com/"]
        insteadOf = https://git.heroku.com/
[user]
        name = Iain Beeston
        useConfigOnly = true
