[core]
	editor = emacs
[diff]
	algorithm = patience
	compactionHeuristic = true
	renames = copy
[difftool]
	prompt = false
[difftool "ediff"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
	ff = false
	tool = emerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "ediff"]
        cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"	
[pull]
	ff = only
	rebase = true
[push]
	default = current
[rebase]
	autosquash = true
[rerere]
	enabled = true
[remote]
	pushDefault = origin
[status]
	showUntrackedFiles = all
[user]
	name = Iain Beeston
	email = iainbeeston@users.noreply.github.com
	useConfigOnly = true
