[Desktop Entry]
Type=Application
Exec=synclient AccelFactor=0.04 HorizHysteresis=40 VertHysteresis=40 PalmDetect=1 PalmMinZ=300 VertScrollDelta=-125 HorizScrollDelta=-125 ClickFinger3=1
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Synaptics Client
Comment=Configure touchpad behaviour
